
<div>
	<form class="form-horizontal" role="form" novalidate
		ng-submit="vm.save()" show-validation name="form">

		<fieldset>

			<!-- Form Name -->

			<div class="modal-footer panel-heading"
				style="background: #31C0BE; color: Black;">
				<label class="col-md-1 control-label" style="color: white;"
					data-translate="site.addsite">Add Site</label>

				<button type="button" class="btn btn-default" ng-click="vm.clear()">
					<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
						data-translate="site.cancel">Cancel</span>
				</button>
				<button type="submit" ng-disabled="form.$invalid || vm.isSaving" 
					class="btn btn-primary">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span
						data-translate="site.save">Save</span>
				</button>
			</div>
			<br>
			<div class="roundedDiv">
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label required" for="name"
						data-translate="site.productName">Site Name</label>
					<div class="col-md-4">
						<input id="name" name="name" type="text">
							<!-- class="form-control input-md" required
							ng-model="vm.site.productName"
							ng-blur="vm.validateSiteName(vm.site.siteName,'siteName',vm.site.id)"
							ng-change="vm.changingSiteName(vm.site.siteName,'siteName',vm.site.id)" -->
							
						

					</div>
				</div>

				<!-- <div class="form-group">
					<label class="col-md-4 control-label required" for="siteip"
						data-translate="site.ipAddress">Site IP address</label>
					<div class="col-md-4">
						<input id="siteip" name="siteip" type="text"
							
							class="form-control input-md" required
							ng-model="vm.site.productCode"
							ng-pattern='/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/'
							ng-blur="vm.validateSiteName(vm.site.siteIpAddress,'siteIpAddress',vm.site.id)"
							ng-change="vm.changingSiteName(vm.site.siteIpAddress, 'siteIpAddress')" 
							
							/>

					</div>
				</div>
 -->
				<!-- <div class="form-group">
					<label class="col-md-4 control-label required" for="siteId"
						data-translate="site.siteId">Site ID</label>
					<div class="col-md-4">
						<input id="siteId" name="siteId" type="number"
							
							class="form-control input-md" required ng-model="vm.site.siteId"
							ng-blur="vm.validateSiteName(vm.site.siteId,'siteId',vm.site.id)"
							ng-change="vm.changingSiteName(vm.site.siteId,'siteId',vm.site.id)">

					</div>
				</div>
 -->
				




				




			</div>
		</fieldset>
	</form>
</div>
